[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
behave = "*"
pyhamcrest = "*"
selenium = "*"
pytest = ">=7.1.2"
py = ">=1.10.0"
behave2cucumber = "*"
